.portfolio_wrapper{
    width: 100%;
    height: 85%;
    padding: 2em;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

 .portfolio_ph_1{
    width: 88%;
    height: auto;
    box-shadow: 2px 3px 10px 0px rgb(102 101 101 / 75%);
}
.portfolio_ph_1 img,
.portfolio_ph_2 img,
.portfolio_ph_3 img{
    width: 100%;
}


.portfolio_ph_2{
    width: 52%;
    box-shadow: 2px 3px 10px 0px rgb(102 101 101 / 75%);
}

.portfolio_ph_3{
    width: 30%;
    box-shadow: 2px 3px 10px 0px rgb(102 101 101 / 75%);
}

.links{
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin: 30px auto;
}
