.myPhoto{
    background-image: url(https://raw.githubusercontent.com/ElizaCalmau/JS-react/cv/react/src/assets/cv_photo.jpg);
    width: 200px;
    height: 27%;
    
    background-clip: border-box;
    background-size: cover;
    background-position: 27%;
    box-shadow: 4px 8px 10px -5px rgba(0,0,0,0.75);
}