#root {
  margin: 0;
  padding:0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box; /* prevent appearing of scroll due to padding */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

